@media screen and (max-width: 768px) {
  .m-right {
    font-size: 1rem;
  }

  li .button {
    font-size: 0.7rem;
  }

  .push span {
    font-size: 1.1rem;
  }

  .body-flex-container .middle {
    width: 70%;
    height: 70%;
  }
}

@media screen and (max-width: 550px) {
  .m-right {
    font-size: 0.75rem;
  }

  li .button {
    font-size: 0.5rem;
  }

  .push span {
    font-size: 0.9rem;
  }

  .body-flex-container .middle {
    width: 80%;
    height: 80%;
  }
}
